<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <!-- 해당 프로젝트 제목 -->
  <display-name>01_servletProject</display-name>
  
  <!-- 제일 처음 보여줄 간판 페이지 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 XML 설정 -->
  <servlet>
  	<servlet-name> test1 </servlet-name>
  	<servlet-class> com.kh.first.controller.TestServlet1</servlet-class>
  </servlet>
  
  <!-- 서블릿 url 주소 연결 -->
  <servlet-mapping>
  	<servlet-name>test1</servlet-name>
  	<url-pattern>/test1.do</url-pattern>
  </servlet-mapping>
</web-app>